*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Figtree', sans-serif;
}

body{
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    place-items: center;
}

.card{
    border: 1px solid black;
    width: 300px;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    margin: 0 auto;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover{
    box-shadow: 8px 16px black;
}

.card-image{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.tag{
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 6px;
}

.date{
    font-size: 12px;
    margin-bottom: 14px;
}

.description{
    color: hsl(0, 0%, 50%);
    font-size: 12px;
    margin-bottom: 16px;
}

.author{
    display: flex;
    align-items: center;
    height: 36px;
    gap: 8px;
}

.author img{
    height: 100%;
}

.author-name{
    font-size: 12px;
    font-weight: 800;
}